<h2 style="font-size:36px;">A RISK-BASED AIRCRAFT SELECTION ANALYSIS</h2>

<img src="plane.jpg" width="1000" height="700">

<h3 style="font-size:36px;">Overview</h3>


<body>
The company is venturing into the aviation sector so as to enhance its global market and also enhance its portfolio.After much careful thought and consideration it has spotted an opportunity in both the commercial and private aviation sectors based on cost target niche and strategic location
In the commercial sector the company targets to operate on the regional airlines since the company has a good and suitable runway for such transport and also since its a start up in the aviation sector this highly favours the company.In terms of  the private aviation sector the focus is on the charter services and this will transport business elites and government official in an unscheduled way and its fast and one doesn't have to book like a week earlier flight.In order to achieve this the company seeks to acquire an aircraft that is low risk ,maintainable and aligns with the business objectives</body>

<h3 style="font-size:36px;">Business Understanding</h3>

<h7 style="font-size:36px;"><b>Problem Statement</b></h7>

The company is a newbie in the aviation sector and its main concern  is to select the best aircraft that is low risk in relation to the companyâ€™s demand


<h7 style="font-size:36px;"><b>Main Objective</b></h7>

Its objective is to look for an aircraft that is low risk in terms of operational costs that includes maintenance,fuel,repair ,and customer satisfaction.An aircraft that is safe to use and has a past record of regulation compliance and lastly that satisfies the clients and also the business which is returning on investment.

<h7 style="font-size:36px;"><b>Specific Objective</b></h7>
<ul>
<li>To identify an aircraft that has low accident frequency,minimal repair cost and fuel efficiency so has to allow optimal financial feasibility</li>
<li>To determine the safety and mechanical adaptability by checking the safest aircraft models with fewer mechanical failures and compliance to safety standards</li>
<li>indentifying the most suitable aircraft model for regional and private airlines based on safety reliablilty and adaptablity.</li>
</ul>

<h4 style="font-size:36px;"><b>Data Understanding</b></h4>
This data comes from the National Transportation Safety Board that includes aviation accident data about cival and selected aviation data in the US

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
df=pd.read_csv("AviationData.csv" ,encoding="windows-1252")
df
# we have encoded our data incase of any special data characters which is not readable hence encoding we didnt use utf-8 since it gave me an error

C:\Users\user\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

we will also check the rows,columns,duplicates missing values descriptive information about the data

In [23]:
# summary information about the data
#we can also see the data types and the columns that this data set has like event id investigation type,accident number and so on
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [24]:
#how many rows and columns are there using the df.shape
df.shape #there are 88889 rows and 31 columns

(88889, 31)

In [25]:
# we will check the statistical analysis of the data 
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

<h4 style="font-size:36px;"><b>Data Preparation</b></h4>
Here we will check for duplicates ,anormalies and missing values that may affect our data analysis

In [26]:
#check if there are duplicates
df.duplicated().value_counts()

False    88889
dtype: int64

In [27]:
#checkout missing values
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

<h4><b>How i handled data cleaning and preparation</b></h4>
<ol>
<li>for the columns whose data is not relevant to my analysis and whose columns 80% of the data is missing i dropped the columns:Aircraft.category,FAR.Description ,schedule and Air carrier</li>
    <li> for those columns whose data is less than 10,000 entries i dropped the missing values</li>
    <li> for those columns whose data is more than 10,000 but less than the 40,000 entries i replaced them </li>
    </ol>

In [ ]:
#handling the the less than 10,000 entries
df.dropna(subset=[,])